* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
   
}
.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0076bd;
    padding-right: 20px;
    color: white;
    height: 39px;
   
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-ul {
    list-style-type: none;
    padding: 0px 20px;
}

.header-customer {
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 200px;
    text-align: center;
    height: 42px;
}

header a {
    text-decoration: none;
    color: white;
}

.header-p {
    margin-left: 15px;
}

.div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-right: 20px;
}

.div-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-input {
    width: 400px;
    height: 45px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
}

div input {
    height: 100%;
    border: none;
    padding-left: 11px;
    font-size: 19px;
    width: 400px;
   
}

button {
    height: 100%;
    padding: 0px 21px;
    border: 0px;
    background-color: #003953;
    color: white;
}

.cart {
    
    border: 2px solid #a7e688;
    color:  #035d59;
    margin-left: 396px;
    padding: 15px;
    font-family:  Sans,sans-serif;
    
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#e8ecf0;;
}

.nav select{
    width: 70px;
    height: 100%;
    border: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    margin-right: 10px;
    list-style-type: none;
}